<h3 class="text-xs-center">Viewing Pictures</h3>

<div class="text-xs-center">
  <%= image_tag(@picture.asset.url(:large), alt: @picture.caption) %>

  <br />

  <h3><%= @picture.caption %></h3>


  <%= link_to 'Edit', edit_album_picture_path(@album, @picture) %> |
  <%= link_to 'Back', album_pictures_path(@album) %>
</div>
